# Python
__pycache__/
*.py[cod]
.venv/
.env
*.log

# Playwright
/ms-playwright/
/playwright-report/

# Scraper outputs
failed_cmp.csv
scrap.logs
data.csv

# Docker artifacts
*.env.local

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
